# Plotting

In [4]:
import pandas as pd
import scipy as sp
import pandas as pd
import matplotlib as mpl
%matplotlib inline

In [5]:
df = pd.read_csv('vacaciones.csv')

In [6]:
df.head()

       semana  vacaciones  playa
0  16/02/2014           7     36
1  23/02/2014           6     36
2  02/03/2014           8     39
3  09/03/2014           8     43
4  16/03/2014           8     42

In [7]:
df['semana']

0      16/02/2014
1      23/02/2014
2      02/03/2014
3      09/03/2014
4      16/03/2014
5      23/03/2014
6      30/03/2014
7      06/04/2014
8      13/04/2014
9      20/04/2014
10     27/04/2014
11     04/05/2014
12     11/05/2014
13     18/05/2014
14     25/05/2014
15     01/06/2014
16     08/06/2014
17     15/06/2014
18     22/06/2014
19     29/06/2014
20     06/07/2014
21     13/07/2014
22     20/07/2014
23     27/07/2014
24     03/08/2014
25     10/08/2014
26     17/08/2014
27     24/08/2014
28     31/08/2014
29     07/09/2014
          ...
231    22/07/2018
232    29/07/2018
233    05/08/2018
234    12/08/2018
235    19/08/2018
236    26/08/2018
237    02/09/2018
238    09/09/2018
239    16/09/2018
240    23/09/2018
241    30/09/2018
242    07/10/2018
243    14/10/2018
244    21/10/2018
245    28/10/2018
246    04/11/2018
247    11/11/2018
248    18/11/2018
249    25/11/2018
250    02/12/2018
251    09/12/2018
252    16/12/2018
253    23/12/2018
254    30/12/2018
255    06/01/2019
256    13/01/2019
257    20/01/2019
258    27/01/2019
259    03/02/2019
260    10/02/2019
Name: semana, Length: 261, dtype: object

In [ ]:
df['semana'].dtype